<div class="p-3">
    <h2 class="text-center">Storico Logs</h2>
    <table class="pt-2 mt-3">
        <thead>
          <tr>
            <th>Entrata</th>
            <th>Uscita</th>
            <th>Nome Utente</th>
            <th *ngIf="isAdmin()">Cancella</th>
            <th *ngIf="isAdmin()">Modifica</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs">
            <td *ngIf="idLogToUpdate!=null && idLogToUpdate==log.id; else mostraOraEntrata">
              <input type="time" id="entrata" name="entrata" [(ngModel)]="oraDataEntrataModificata">
            </td>
            <td *ngIf="idLogToUpdate!=null && idLogToUpdate==log.id; else mostraOraUscita">
              <input type="time" id="uscita" name="uscita" [(ngModel)]="oraDataUscitaModificata">
            </td>
            
            <ng-template #mostraOraEntrata>
              <td> {{log.entrata.toDateString()}} {{formatOra(log.entrata)}}</td>
            </ng-template>
            <ng-template #mostraOraUscita>
              <td>{{log.uscita.toDateString()}} {{formatOra(log.uscita)}}</td>
            </ng-template>
            
            <td>{{ log.u.nome }}</td>
            <td *ngIf="isAdmin()"><button (click)="cancellaLog(log.id)" class="btn btn-danger"> cancella</button></td>
            <td *ngIf="isAdmin() && log.id!=idLogToUpdate"><button (click)="updateHour(log.id)" class="btn btn-danger"> modifica orari</button></td>
            <td *ngIf="isAdmin() && log.id==idLogToUpdate"><button (click)="updateDate()" class="btn btn-danger"> invia modifiche</button></td>
            
          </tr>
        </tbody>
      </table>
</div>
