<div class="info-card mt-3">
  <div class="info-text-ctn">
    <div class="info-head">
      <h1>Buongiorno <br />Potrebbe essere una buona giornata</h1>
    </div>
    <div class="info-text">
      <p class="ps-1 pb-3">
        Gestisci il tuo tempo <br />
        con cura <br />
        e dedizione
      </p>
    </div>

    <div *ngIf="entrato; then esci; else entra"></div>
    <ng-template #entra>
      <div class="info-buton">
        <button (click)="accedi()">Timbra Entrata</button>
      </div>
    </ng-template>
    <ng-template #esci>
      <div class="info-buton">
        <button (click)="exit()">Timbra Uscita</button>
      </div>
    </ng-template>
  </div>
  <div class="info-image">
    <img
      src="https://cdni.iconscout.com/illustration/free/thumb/concept-of-remote-team-2112518-1785598.png"
      alt=""
    />
  </div>
</div>

<div class="categories-container">
  <div class="categorie-name">
    <h1>Reparti</h1>
  </div>
  <div class="categories">
    <div class="categorie-grid">
      <div class="categorie-col" id="col-one">
        <div class="categorie-image-wrapper">
          <img src="https://picsum.photos/id/257/400/400" alt="" />
        </div>
        <div class="categories-text-ctn">
          <div class="ctg-head">
            <h2>Sviluppo</h2>
          </div>
          <div class="ctg-text">
            <p></p>
            <p>
              Lo sviluppo software coinvolge la creazione <br />
              È l'arte di trasformare concetti in <br />
              codice funzionale.
            </p>
          </div>
        </div>
      </div>

      <div class="categorie-col" id="col-two">
        <div class="categorie-image-wrapper">
          <img src="https://picsum.photos/id/222/400/400" alt="" />
        </div>
        <div class="categories-text-ctn">
          <div class="ctg-head">
            <h2>Area Personale</h2>
          </div>
          <div class="ctg-text">
            <p>
              Il tuo mondo<br />
              Ore lavorate:<br />
              <span>{{ oreLavorate }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="categorie-grid">
      <div class="categorie-col" id="col-tree">
        <div class="categorie-image-wrapper">
          <img src="https://picsum.photos/id/234/400/400" alt="" />
        </div>
        <div class="categories-text-ctn">
          <div class="ctg-head">
            <h2>Marketing</h2>
          </div>
          <div class="ctg-text">
            <p>
              Il marketing rappresenta l'arte di connettere <br />
              persone con prodotti, servizi e idee. <br />
              È la capacità di creare valore.
            </p>
          </div>
        </div>
      </div>

      <div class="categorie-col" id="col-four">
        <div class="categorie-image-wrapper">
          <img src="https://picsum.photos/id/237/400/400" alt="" />
        </div>
        <div class="categories-text-ctn">
          <div class="ctg-head">
            <h2>Sport</h2>
          </div>
          <div class="ctg-text">
            <p>
              Lo sport è un'attività fisica e competitiva che <br />
              promuove la salute, il benessere e la socializzazione. <br />
              Unisce persone attraverso la passione e la competizione.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
